[submodule "ebac-backend-java-specialist-course"]
	path = ebac-backend-java-specialist-course
	url = https://github.com/Caioliu/ebac-backend-java-specialist-course.git
[submodule "programming-module-exercises"]
	path = programming-module-exercises
	url = https://github.com/Caioliu/computer-programming-module-computer-science-degree.git
[submodule "rpg-duel-v1"]
	path = rpg-duel-v1
	url = https://github.com/Caioliu/rpg-duel-v1.git
[submodule "project-calculator-java"]
	path = project-calculator-java
	url = https://github.com/Caioliu/project-calculator-java.git
